:root{
    --primary-color: #47B5FF;
    --secondary-color: #daf0ff;
    --border-color: #144272;
    --primary-border-color: #4f7195;
    --black: #000;
    --white: #fff;
    --grey: #666;
    --rating-color: #daa520;
    --feacbook-color: #25316D;
    --twitter-color: #5CB8E4;
    --instgram-color: #E80F88;
    --linkedin-color: #1363DF;

}