// fonts
$fonts18: 18px;
$fonts12: 12px;
$fonts13: 13px;
$fonts14: 14px;
$fonts15: 15px;
$fonts28: 28px;
$fonts30: 30px;
$fonts24: 24px;
$fonts22: 22px;
$fonts26: 26px;
$fonts16: 16px;
$fonts50: 50px;
$fonts20: 20px;
$fonts38: 38px;
$fonts44: 44px;
$fonts40: 40px;

// line-height
$line-height50: 50px;
$line-height30: 30px;
$line-height22: 22px;
$line-height24: 24px;
$line-height26: 26px;
$line-height28: 28px;
$line-height40: 40px;
$line-height36: 36px;
$line-height16: 16px;
$line-height15: 15px;
$line-height18: 18px;
$line-height20: 20px;








// transition
$transition04: all 0.4s ease;
$transition09: all 0.9s ease;
