.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body {
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: auto;
}